.hero {
  padding: 120px 40px;
  text-align: center;
  background-image: url("https://originel-eyewear.com/cdn/shop/files/Originel_eyewear_france-lunette_original_tendance_a_petit_prix_1445x.png?v=1732272701");
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
}

.hero h1 {
  font-size: 70px;
  margin-bottom: 20px;
  font-style: normal;
  font-family: 'IBM Plex Sans'
}

.hero p {
  font-size: 25px;
  margin-bottom: 30px;
  font-style: italic;
  font-weight: bold;
  font-family: 'IBM Plex Sans'
}

.hero button {
  padding: 10px 20px;
  font-size: 20px;
  background: rgb(255, 98, 171);
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-style: oblique;
  font-family: 'IBM Plex Sans'
}