nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: rgb(255, 98, 171);
  color: white;
}

.logo {
  height: 80px;
  width: auto;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

li {
  cursor: pointer;
  font-weight: 500;
}